edit_lk.html
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>YoDo</title>
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css.css" type="text/css" rel="stylesheet" />
		<link href="css/jquery.minical.plain.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/tg.js"></script>
		<script type="text/javascript" src="js/mask.js"></script>
		<script type="text/javascript" src="js/jquery.minical.plain.js"></script>
		<script type="text/javascript" src="js/scrollslave.js"></script>
	</head>
	<script type="text/javascript">
$(document).ready(function() {
   $('a[href^="#"]').click(function () { 
     elementClick = $(this).attr("href");

     destination = $(elementClick).offset().top;
     destination_new= destination-70;
     if($.browser.safari){
       $('body').animate( { scrollTop: destination_new }, 600 );
     }else{
       $('html').animate( { scrollTop: destination_new }, 600 );
     }
     return false;
   });
 });
</script>
	<body>
		<header>
			<div class="wrapper">
				<a href="/"><div class="logo">заработу<span>.com</span><br>
					<p>Сервис для быстрого заказа любых услуг</p>
				</div></a>
				<a href="#" class="tocreate">
					создать задание
				</a>
				<div id="city">
					<p>Ваш город</p> <div class="fadeselect"><span class="namecity"> Челябинск</span>
						<div class="select_city">
						<span class="krestik"></span>
							<ul>
								<li>Екатеринбург</li>
								<li>Тюмень</li>
								<li>Пермь</li>
								<li>Казань</li>
								<li>Самара</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="account_in_site">
					<div class="name_login">Эшли Д.</div>
					<img src="img/ash_small.jpg">
					<div class="menu_account">
						<span class="krestik"></span>
						<ul>
							<li><a href="#">Профиль</a></li>
							<li><a href="#">Выход</a></li>
						</ul>
					</div>

				</div>
			</div>
		</header>
		<div class="wrapper">
			<nav>
				<div class="wrap_menu">
					<ul class="menu_one">
						<li><a href="#"><img class="open" src="img/left_menu_li_task.png"><img class="close" src="img/left_menu_li_task_activ.png"><span>Мои задания<div class="count">12</div></span></a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_massage.png"><img class="close" src="img/left_menu_li_massage_activ.png"><span>Сообщения<div class="count">4</div></span></a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_2.png"><img class="close" src="img/left_menu_li_2_act.png">Все задания</a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_1.png"><img class="close" src="img/left_menu_li_1_act.png">Все исполнители</a></li>
					</ul>
					<div class="menu">
						<div class="wrap_menu_black">
							<ul class="menu_two">
								<li><a href="#">Как работает сервис?</a></li>
								<li><a href="#">Отзывы заказчиков</a></li>
								<li><a href="#">Отзывы исполнителей</a></li>
								<li><a href="#">Рачет коммисии</a></li>
								<li><a href="#">Награды и рейтинг исполнителей</a></li>
								<li><a href="#">Прайс лист на услуги</a></li>
							</ul>	
						</div>
					</div>
				</div>
			</nav>
			<div id="content">
				<div id="bread">
					<div class="customsbread">
						<a href="/">Главная</a> &gt;  
						<a href="#">Личный кабинет</a> &gt;  
						<span>Эшли Джей Уильямс</span>
					</div>
				</div>
				<div id="personal_account">
					<div id="account_header" style=" background: url(img/acaunt_fon.jpg) center no-repeat;">
						<a href="#" id="edit_fon" class="edit_buttom">изменить фон</a>
						<div class="profile">
							<img class="photo_user"src="img/ash.jpg">
							<a href="#" id="edit_photo" class="edit_buttom">изменить фото</a>
							<div class="online">Онлайн</div>
							<div class="tag_work"></div>
							<div class="now_free">Сейчас свободен</div>
							<div class="now_busy">Занят работой</div>
							<div class="name_user">Эшли Джей Уильямс</div>
							<div class="age_user">26 лет</div>
							<div class="line_info">
								<div class="job_do">Выполнил 56 заданий</div>
								<div class="his_job">Создал 26 заданий</div>
								<div class="city">Челябинск</div>
							</div>
							<div class="line_info_two">
								<div class="rating"><div class="rang"></div><div class="score">19 отзывов</div>
									<div class="task_reivews">
										<i class="like">15</i>
										<i class="dislike">2</i>
									</div>
									<ul>
										<li class="action"></li>
										<li class="action"></li>
										<li class="action"></li>
										<li class="action"></li>
										<li></li>
									</ul>
								</div>	
							</div>
							<div class="work_cat_want">
								<li>Курьерские услуги</li>
								<li>Бытовой ремонт</li>
								<li>Дизайн</li>	
								<li>Грузоперевозки</li>
								<li>Бытовой ремонт</li>
								<li>Дизайн</li>	

							</div>
						</div>
						<a href="#" class="share_the_link"><div class="link">Поделиться</div></a>
					</div>
					<div id="account_content">
						<div id="edit_info_account">
							<div id="menu_edit">								
								<ul>
									<li class="active"><a href="#">Категории услуг</a></li>
									<li><a href="#">Личные данные</a></li>
									<li><a href="#">Мои работы</a></li>
									<li><a href="#">Мое избранное</a></li>
									<li><a href="#">Мой счет</a></li>
								</ul>
							</div>
							<div id="work_performed">
								<h2 class="work">Выполняемые работы:</h2>
								<div class="work_cat">
									<div class="delete_form buttom_panel"></div>
									<div class="edit_form buttom_panel"></div>
									<div class="img_cat_work" style="background:url(img/img_cat.png) no-repeat center, #484848"></div>
									<div class="headline_work">Курьерские услуги <div class="detals_workmen">(1 место в рейтинге категории, выполнено 947 заданий)</div></div>
									<div class="text">Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.</div>
									<form class="edit_text_work">
                            			<textarea placeholder="Рукописный текст, что то об автомобиле и тд. Ваше описание услуги."></textarea>
                            			<div class="price_for_work">Цена за услугу от
											<div class="birka" data-original-title="" title=""><div class="form-block" data-original-title="" title=""><input name="price" placeholder="1 500" ></div></div>
										</div>
                            			<button type="submit" class="botton" onclick="">Cохранить изменения</button>
                            	     </form>
								</div>	
								<div class="work_cat">
									<div class="img_cat_work" style="background:url(img/img_cat.png) no-repeat center, #484848"></div>
									<div class="headline_work">Курьерские услуги <div class="detals_workmen">(1 место в рейтинге категории, выполнено 947 заданий)</div></div>
									<div class="text">Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.</div>
									<span>Рукописный текст, что то об автомобиле и тд. Ваше описание услуги.</span>	
									<form class="edit_text_work">
                  		          	<div class="price_for_work">Цена за услугу от
											<div class="birka" data-original-title="" title=""><div class="form-block" data-original-title="" title=""><input name="price" placeholder="1 500" ></div></div>
										</div>
                            		
                            	     </form>
								</div>
							</div>
							<div id="add_cat">Добавить услугу</div>
							<div class="wrap_form_edit">
						<div id="cat" class="reg-data">
                                    	
                                         <span id="fade-1" class="fade"></span>
                                            <span id="fade-2" class="fade"></span>
                                            <span id="fade-3" class="fade"></span>
                                            <span id="antifade-1" class="antifade"></span>
                                            <span id="antifade-2" class="antifade"></span>
                                            <span id="antifade-3" class="antifade"></span>
                                        <div>
                                        	
                                            <div class="cat-block">
                                                <label for="cat0"><input id="cat0" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat1"><input id="cat1" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat2"><input id="cat2" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat3"><input id="cat3" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat4"><input id="cat4" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat5"><input id="cat5" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat6"><input id="cat6" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat7"><input id="cat7" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat8"><input id="cat8" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat9"><input id="cat9" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat10"><input id="cat10" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat11"><input id="cat11" type="radio" name="category"> Установка и ремонт техники</label>
                                                <label for="cat12"><input id="cat21" type="radio" name="category"> Установка и ремонт техники</label>
                                            </div>
                                            
                                            <div class="cat-block">
                                            	<div class="first">Выберите услугу</div>
                                                <div id="cat0">
                                                	<!--
                                                    	При программировании нужно накапливать варианты в дивах, для того, 
                                                        чтобы элементы внутри блока отображались правильно
                                                    -->
                                                	<div>
                                                        <input type="checkbox" name="cat0[]" id="cat-check1">
                                                        <label for="cat-check1">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check2">
                                                        <label for="cat-check2">Услуги пешего курьераsdfsdf sdfsdf sdfsdfsdf
                                                        sdfsdf</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check3">
                                                        <label for="cat-check3">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check4">
                                                        <label for="cat-check4">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check5">
                                                        <label for="cat-check5">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check6">
                                                        <label for="cat-check6">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check7">
                                                        <label for="cat-check7">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check8">
                                                        <label for="cat-check8">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check9">
                                                        <label for="cat-check9">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check10">
                                                        <label for="cat-check10">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check11">
                                                        <label for="cat-check11">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check12">
                                                    </div>
                                                    <div>
                                                        <label for="cat-check12">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check14">
                                                        <label for="cat-check13">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check15">
                                                        <label for="cat-check14">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check17">
                                                        <label for="cat-check15">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check16">
                                                        <label for="cat-check16">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check17">
                                                        <label for="cat-check17">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check18">
                                                        <label for="cat-check18">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check19">
                                                        <label for="cat-check19">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check20">
                                                        <label for="cat-check20">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check21">
                                                        <label for="cat-check21">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check22">
                                                        <label for="cat-check22">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check23">
                                                        <label for="cat-check23">Услуги пешего курьера</label>
                                                        <input type="checkbox" name="cat0[]" id="cat-check24">
                                                        <label for="cat-check24">Услуги пешего курьера</label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="cat-block">
                                                <div class="header">
                                                	Вы выбрали <span>0</span> категорий
                                                </div>
                                                <div class="body">
                                                   
                                                </div>
                                            </div>
                                        </div>
                 <script type="text/javascript">
											$(document).ready(function(e) {
												var counter = 0;
												
												function updateCounter (znak){
													switch (znak){
														case "+":
															counter++;
														break;
														
														case "-":
															counter--;
														break;
														
														
													}
													//console.log(counter);
													$("#cat .cat-block > .header span").html(counter);
												}
												
												$("#cat .cat-block:first-child + .cat-block input").click(function(){
													var obj = $("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").parent("div");
													
													
													if ($(this).prop("checked")){
														updateCounter("+");
														
														if ($("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").length){
															//obj.css({display: "block"});

															setTimeout(function(){
																obj.removeClass("delete");

																obj.next("div").css({"margin-top": "0px"});
																
															}, 50);
															
														}else
															$("#cat .cat-block > .body").prepend("<div><span data='"+$(this).attr('id')+"'>"+$(this).next('label').text()+"</span></div>");
													}else{
														updateCounter("-");
														
														obj.addClass("delete");
														
														setTimeout(function(){
																obj.next("div").css({"margin-top": "-"+obj.height()+"px"});
														}, 350);
														
														setTimeout(function(){
															//obj.css({display: "none"});
															//obj.next("div").css({"margin-top": "3px"});
														}, 700);
													}
													
													var timer, flag = 1;
													
													$("#cat .cat-block:last-child .body div > span").each(function(i, el){
														
														if (!$(this).attr("action") && flag == 1){
															
															$(this).attr("action", 1);
															
															$(this).click(function(){
																	clearInterval(timer);
																	
																	
															
																	timer = setInterval(function(){
																		flag = 1;
																	}, 300);
																	
																	if (flag == 0)
																		return false;
																	flag = 0;
																	$(this).parent("div").addClass("delete");
																	
																	var obj2 = $(this);
																	
																	
																	$("#cat .cat-block:first-child + .cat-block #"+$(this).attr("data")).prop("checked", false);
																	
																	setTimeout(function(){
																		obj2.parent("div").next("div").css({"margin-top": "-"+obj2.parent("div").height()+"px"});
																		
																		console.log("123123");
																		updateCounter("-");
																	}, 300);
															});
														}
													});
														
														
												});	
												
                                                $("#cat .cat-block:first-child > label").click(function(){
													$("#cat .cat-block:first-child .active").removeClass("active");
													$(this).addClass("active");
													
													$("#cat .cat-block:first-child + .cat-block").addClass("none");
													
													var id = $(this).attr("for");
													
													$("#cat .cat-block:first-child + .cat-block div[id]").css({opacity: 0});
													setTimeout(function(){
															$("#cat .cat-block:first-child + .cat-block div[id]").css({display: "none"});
															$("#cat .cat-block:first-child + .cat-block #"+id).css({display: "block"});
															setTimeout(function(){
																$("#cat .cat-block:first-child + .cat-block #"+id).css({opacity: "1"});
															}, 50);
													}, 300);
												});
                                            });
										</script>
                                    </div>	
                               </div>
						<div class="save">
                                  		<div class="button">Сохранить</div>
                                  </div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	
		<div id="grey_block">
			<div class="wrapper">
				<div id="block4">
				<script type="text/javascript" src="http://vk.com/js/api/openapi.js?120"></script>
				<script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
					<div class="vk">
						<div id="vk_groups"></div>
						<script type="text/javascript">
						VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483);
						</script>
						<div class="like">					
							<!--<script type="text/javascript">
							document.write(VK.Share.button(false,{type: "round", text: "&nbsp;"}));
							</script>-->
						</div>
					</div>
					<div class="vk">
						
					</div>
					<div class="vk">
						<div id="vk_groups2"></div>
						<script type="text/javascript">
						VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483);
						</script>
					</div>	
				</div>	
			</div>
		</div>	
		<footer>
			<div class="wrapper">
				<div id="footer_block">
					<div class="menu">
						<span>Что за сервис?</span>
						<ul>
							<li><a href="#">Расчет коммиссии</a></li>
							<li><a href="#">Награды и рейтинги работников</a></li>
							<li><a href="#">Отзывы исполнителей</a></li>
							<li><a href="#">Отзывы заказчиков</a></li>
							<li><a href="#">Прайс лист на услуги</a></li>
						</ul>
					</div>
					<div class="menu">
						<span>Компания</span>
						<ul>
							<li><a href="#">Наш блог</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Бренды у нас</a></li>
						</ul>
					</div>
					<div class="menu">
						<span>Служба поддержки</span>
						<ul>
							<li><a href="#">Правила сервиса</a></li>
							<li><a href="#">Частные вопросы</a></li>
						</ul>
					</div>
					<div class="info_contact">
					<p>Горячая линия с 9:00 до 23:00<br>
					в выходные: с 9:00 до 21:00</p>
		
					<p>в Челябинске:   8 (351) 668 65 33<br>
					по России:   8 (800) 77 555 33</p>
					</div>
					<div class="tg">Разработка сайта <a href="http://tommy-gun.pro" target="blank">TommyGun</a></div>
					<div class="copyright">© 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)</div>
				</div>
			</div>
		<footer>

		
	</body>
</html>

edit_lk.slim
| ﻿
doctype strict
html[xmlns="http://www.w3.org/1999/xhtml"]
  head
    title
      | YoDo
    meta[name="Keywords" content=""]
    meta[name="Description" content=""]
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    link[href="css.css" type="text/css" rel="stylesheet"]
    link[href="css/jquery.minical.plain.css" type="text/css" rel="stylesheet"]
    script[type="text/javascript" src="js/jquery-1.7.2.min.js"]
    script[type="text/javascript" src="js/tg.js"]
    script[type="text/javascript" src="js/mask.js"]
    script[type="text/javascript" src="js/jquery.minical.plain.js"]
    script[type="text/javascript" src="js/scrollslave.js"]
  script[type="text/javascript"]
    |  $(document).ready(function() { $('a[href^="#"]').click(function () { elementClick = $(this).attr("href"); destination = $(elementClick).offset().top; destination_new= destination-70; if($.browser.safari){ $('body').animate( { scrollTop: destination_new }, 600 ); }else{ $('html').animate( { scrollTop: destination_new }, 600 ); } return false; }); }); 
  body
    header
      .wrapper
        a[href="/"]
        .logo
          | заработу
          span
            | .com
          br
          p
            | Сервис для быстрого заказа любых услуг
        a.tocreate[href="#"]
          |  создать задание 
        #city
          p
            | Ваш город
          .fadeselect
            span.namecity
              |  Челябинск
            .select_city
              span.krestik
              ul
                li
                  | Екатеринбург
                li
                  | Тюмень
                li
                  | Пермь
                li
                  | Казань
                li
                  | Самара
        .account_in_site
          .name_login
            | Эшли Д.
          img[src="img/ash_small.jpg"]
          .menu_account
            span.krestik
            ul
              li
                a[href="#"]
                  | Профиль
              li
                a[href="#"]
                  | Выход
    .wrapper
      nav
        .wrap_menu
          ul.menu_one
            li
              a[href="#"]
                img.open[src="img/left_menu_li_task.png"]
                img.close[src="img/left_menu_li_task_activ.png"]
                span
                  | Мои задания
              .count
                | 12
            li
              a[href="#"]
                img.open[src="img/left_menu_li_massage.png"]
                img.close[src="img/left_menu_li_massage_activ.png"]
                span
                  | Сообщения
              .count
                | 4
            li
              a[href="#"]
                img.open[src="img/left_menu_li_2.png"]
                img.close[src="img/left_menu_li_2_act.png"]
                | Все задания
            li
              a[href="#"]
                img.open[src="img/left_menu_li_1.png"]
                img.close[src="img/left_menu_li_1_act.png"]
                | Все исполнители
          .menu
            .wrap_menu_black
              ul.menu_two
                li
                  a[href="#"]
                    | Как работает сервис?
                li
                  a[href="#"]
                    | Отзывы заказчиков
                li
                  a[href="#"]
                    | Отзывы исполнителей
                li
                  a[href="#"]
                    | Рачет коммисии
                li
                  a[href="#"]
                    | Награды и рейтинг исполнителей
                li
                  a[href="#"]
                    | Прайс лист на услуги
      #content
        #bread
          .customsbread
            a[href="/"]
              | Главная
            |  > 
            a[href="#"]
              | Личный кабинет
            |  > 
            span
              | Эшли Джей Уильямс
        #personal_account
          #account_header[style=" background: url(img/acaunt_fon.jpg) center no-repeat;"]
            a#edit_fon.edit_buttom[href="#"]
              | изменить фон
            .profile
              img.photo_user[src="img/ash.jpg"]
              a#edit_photo.edit_buttom[href="#"]
                | изменить фото
              .online
                | Онлайн
              .tag_work
              .now_free
                | Сейчас свободен
              .now_busy
                | Занят работой
              .name_user
                | Эшли Джей Уильямс
              .age_user
                | 26 лет
              .line_info
                .job_do
                  | Выполнил 56 заданий
                .his_job
                  | Создал 26 заданий
                .city
                  | Челябинск
              .line_info_two
                .rating
                  .rang
                  .score
                    | 19 отзывов
                  .task_reivews
                    i.like
                      | 15
                    i.dislike
                      | 2
                  ul
                    li.action
                    li.action
                    li.action
                    li.action
                    li
              .work_cat_want
                li
                  | Курьерские услуги
                li
                  | Бытовой ремонт
                li
                  | Дизайн
                li
                  | Грузоперевозки
                li
                  | Бытовой ремонт
                li
                  | Дизайн
            a.share_the_link[href="#"]
            .link
              | Поделиться
          #account_content
            #edit_info_account
              #menu_edit
                ul
                  li.active
                    a[href="#"]
                      | Категории услуг
                  li
                    a[href="#"]
                      | Личные данные
                  li
                    a[href="#"]
                      | Мои работы
                  li
                    a[href="#"]
                      | Мое избранное
                  li
                    a[href="#"]
                      | Мой счет
              #work_performed
                h2.work
                  | Выполняемые работы:
                .work_cat
                  .delete_form.buttom_panel
                  .edit_form.buttom_panel
                  .img_cat_work[style="background:url(img/img_cat.png) no-repeat center, #484848"]
                  .headline_work
                    | Курьерские услуги 
                    .detals_workmen
                      | (1 место в рейтинге категории, выполнено 947 заданий)
                  .text
                    | Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.
                  form.edit_text_work
                    textarea[placeholder="Рукописный текст, что то об автомобиле и тд. Ваше описание услуги."]
                    .price_for_work
                      | Цена за услугу от 
                      .birka[data-original-title="" title=""]
                        .form-block[data-original-title="" title=""]
                          input[name="price" placeholder="1 500"]
                    button.botton[type="submit" onclick=""]
                      | Cохранить изменения
                .work_cat
                  .img_cat_work[style="background:url(img/img_cat.png) no-repeat center, #484848"]
                  .headline_work
                    | Курьерские услуги 
                    .detals_workmen
                      | (1 место в рейтинге категории, выполнено 947 заданий)
                  .text
                    | Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.
                  span
                    | Рукописный текст, что то об автомобиле и тд. Ваше описание услуги.
                  form.edit_text_work
                    .price_for_work
                      | Цена за услугу от 
                      .birka[data-original-title="" title=""]
                        .form-block[data-original-title="" title=""]
                          input[name="price" placeholder="1 500"]
              #add_cat
                | Добавить услугу
              .wrap_form_edit
                #cat.reg-data
                  span#fade-1.fade
                  span#fade-2.fade
                  span#fade-3.fade
                  span#antifade-1.antifade
                  span#antifade-2.antifade
                  span#antifade-3.antifade
                  div
                    .cat-block
                      label[for="cat0"]
                        input#cat0[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat1"]
                        input#cat1[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat2"]
                        input#cat2[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat3"]
                        input#cat3[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat4"]
                        input#cat4[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat5"]
                        input#cat5[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat6"]
                        input#cat6[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat7"]
                        input#cat7[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat8"]
                        input#cat8[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat9"]
                        input#cat9[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat10"]
                        input#cat10[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat11"]
                        input#cat11[type="radio" name="category"]
                        |  Установка и ремонт техники
                      label[for="cat12"]
                        input#cat21[type="radio" name="category"]
                        |  Установка и ремонт техники
                    .cat-block
                      .first
                        | Выберите услугу
                      #cat0
                        div
                          input#cat-check1[type="checkbox" name="cat0[]"]
                          label[for="cat-check1"]
                            | Услуги пешего курьера
                          input#cat-check2[type="checkbox" name="cat0[]"]
                          label[for="cat-check2"]
                            | Услуги пешего курьераsdfsdf sdfsdf sdfsdfsdf sdfsdf
                          input#cat-check3[type="checkbox" name="cat0[]"]
                          label[for="cat-check3"]
                            | Услуги пешего курьера
                          input#cat-check4[type="checkbox" name="cat0[]"]
                          label[for="cat-check4"]
                            | Услуги пешего курьера
                          input#cat-check5[type="checkbox" name="cat0[]"]
                          label[for="cat-check5"]
                            | Услуги пешего курьера
                          input#cat-check6[type="checkbox" name="cat0[]"]
                          label[for="cat-check6"]
                            | Услуги пешего курьера
                          input#cat-check7[type="checkbox" name="cat0[]"]
                          label[for="cat-check7"]
                            | Услуги пешего курьера
                          input#cat-check8[type="checkbox" name="cat0[]"]
                          label[for="cat-check8"]
                            | Услуги пешего курьера
                          input#cat-check9[type="checkbox" name="cat0[]"]
                          label[for="cat-check9"]
                            | Услуги пешего курьера
                          input#cat-check10[type="checkbox" name="cat0[]"]
                          label[for="cat-check10"]
                            | Услуги пешего курьера
                          input#cat-check11[type="checkbox" name="cat0[]"]
                          label[for="cat-check11"]
                            | Услуги пешего курьера
                          input#cat-check12[type="checkbox" name="cat0[]"]
                        div
                          label[for="cat-check12"]
                            | Услуги пешего курьера
                          input#cat-check14[type="checkbox" name="cat0[]"]
                          label[for="cat-check13"]
                            | Услуги пешего курьера
                          input#cat-check15[type="checkbox" name="cat0[]"]
                          label[for="cat-check14"]
                            | Услуги пешего курьера
                          input#cat-check17[type="checkbox" name="cat0[]"]
                          label[for="cat-check15"]
                            | Услуги пешего курьера
                          input#cat-check16[type="checkbox" name="cat0[]"]
                          label[for="cat-check16"]
                            | Услуги пешего курьера
                          input#cat-check17[type="checkbox" name="cat0[]"]
                          label[for="cat-check17"]
                            | Услуги пешего курьера
                          input#cat-check18[type="checkbox" name="cat0[]"]
                          label[for="cat-check18"]
                            | Услуги пешего курьера
                          input#cat-check19[type="checkbox" name="cat0[]"]
                          label[for="cat-check19"]
                            | Услуги пешего курьера
                          input#cat-check20[type="checkbox" name="cat0[]"]
                          label[for="cat-check20"]
                            | Услуги пешего курьера
                          input#cat-check21[type="checkbox" name="cat0[]"]
                          label[for="cat-check21"]
                            | Услуги пешего курьера
                          input#cat-check22[type="checkbox" name="cat0[]"]
                          label[for="cat-check22"]
                            | Услуги пешего курьера
                          input#cat-check23[type="checkbox" name="cat0[]"]
                          label[for="cat-check23"]
                            | Услуги пешего курьера
                          input#cat-check24[type="checkbox" name="cat0[]"]
                          label[for="cat-check24"]
                            | Услуги пешего курьера
                    .cat-block
                      .header
                        |  Вы выбрали 
                        span
                          | 0
                        |  категорий 
                      .body

                  script[type="text/javascript"]
                    |  $(document).ready(function(e) { var counter = 0; function updateCounter (znak){ switch (znak){ case "+": counter++; break; case "-": counter--; break; } //console.log(counter); $("#cat .cat-block > .header span").html(counter); } $("#cat .cat-block:first-child + .cat-block input").click(function(){ var obj = $("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").parent("div"); if ($(this).prop("checked")){ updateCounter("+"); if ($("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").length){ //obj.css({display: "block"}); setTimeout(function(){ obj.removeClass("delete"); obj.next("div").css({"margin-top": "0px"}); }, 50); }else $("#cat .cat-block > .body").prepend("<div><span data='"+$(this).attr('id')+"'>"+$(this).next('label').text()+"</span></div>"); }else{ updateCounter("-"); obj.addClass("delete"); setTimeout(function(){ obj.next("div").css({"margin-top": "-"+obj.height()+"px"}); }, 350); setTimeout(function(){ //obj.css({display: "none"}); //obj.next("div").css({"margin-top": "3px"}); }, 700); } var timer, flag = 1; $("#cat .cat-block:last-child .body div > span").each(function(i, el){ if (!$(this).attr("action") && flag == 1){ $(this).attr("action", 1); $(this).click(function(){ clearInterval(timer); timer = setInterval(function(){ flag = 1; }, 300); if (flag == 0) return false; flag = 0; $(this).parent("div").addClass("delete"); var obj2 = $(this); $("#cat .cat-block:first-child + .cat-block #"+$(this).attr("data")).prop("checked", false); setTimeout(function(){ obj2.parent("div").next("div").css({"margin-top": "-"+obj2.parent("div").height()+"px"}); console.log("123123"); updateCounter("-"); }, 300); }); } }); }); $("#cat .cat-block:first-child > label").click(function(){ $("#cat .cat-block:first-child .active").removeClass("active"); $(this).addClass("active"); $("#cat .cat-block:first-child + .cat-block").addClass("none"); var id = $(this).attr("for"); $("#cat .cat-block:first-child + .cat-block div[id]").css({opacity: 0}); setTimeout(function(){ $("#cat .cat-block:first-child + .cat-block div[id]").css({display: "none"}); $("#cat .cat-block:first-child + .cat-block #"+id).css({display: "block"}); setTimeout(function(){ $("#cat .cat-block:first-child + .cat-block #"+id).css({opacity: "1"}); }, 50); }, 300); }); }); 
              .save
                .button
                  | Сохранить
    #grey_block
      .wrapper
        #block4
          script[type="text/javascript" src="http://vk.com/js/api/openapi.js?120"]
          script[type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"]
          .vk
            #vk_groups
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483); 
            .like

          .vk

          .vk
            #vk_groups2
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483); 
    footer
      .wrapper
        #footer_block
          .menu
            span
              | Что за сервис?
            ul
              li
                a[href="#"]
                  | Расчет коммиссии
              li
                a[href="#"]
                  | Награды и рейтинги работников
              li
                a[href="#"]
                  | Отзывы исполнителей
              li
                a[href="#"]
                  | Отзывы заказчиков
              li
                a[href="#"]
                  | Прайс лист на услуги
          .menu
            span
              | Компания
            ul
              li
                a[href="#"]
                  | Наш блог
              li
                a[href="#"]
                  | Контакты
              li
                a[href="#"]
                  | Бренды у нас
          .menu
            span
              | Служба поддержки
            ul
              li
                a[href="#"]
                  | Правила сервиса
              li
                a[href="#"]
                  | Частные вопросы
          .info_contact
            p
              | Горячая линия с 9:00 до 23:00
              br
              |  в выходные: с 9:00 до 21:00
            p
              | в Челябинске: 8 (351) 668 65 33
              br
              |  по России: 8 (800) 77 555 33
          .tg
            | Разработка сайта 
            a[href="http://tommy-gun.pro" target="blank"]
              | TommyGun
          .copyright
            | © 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)
      footer
