edit_lk_my_works.html
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>YoDo</title>
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css.css" type="text/css" rel="stylesheet" />
		<link href="css/jquery.minical.plain.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/tg.js"></script>
		<script type="text/javascript" src="js/mask.js"></script>
		<script type="text/javascript" src="js/jquery.minical.plain.js"></script>
		<script type="text/javascript" src="js/scrollslave.js"></script>
	</head>
	<script type="text/javascript">
$(document).ready(function() {
   $('a[href^="#"]').click(function () { 
     elementClick = $(this).attr("href");

     destination = $(elementClick).offset().top;
     destination_new= destination-70;
     if($.browser.safari){
       $('body').animate( { scrollTop: destination_new }, 600 );
     }else{
       $('html').animate( { scrollTop: destination_new }, 600 );
     }
     return false;
   });
 });
</script>
	<body>
		<header>
			<div class="wrapper">
				<a href="/"><div class="logo">заработу<span>.com</span><br>
					<p>Сервис для быстрого заказа любых услуг</p>
				</div></a>
				<a href="#" class="tocreate">
					создать задание
				</a>
				<div id="city">
					<p>Ваш город</p> <div class="fadeselect"><span class="namecity"> Челябинск</span>
						<div class="select_city">
						<span class="krestik"></span>
							<ul>
								<li>Екатеринбург</li>
								<li>Тюмень</li>
								<li>Пермь</li>
								<li>Казань</li>
								<li>Самара</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="account_in_site">
					<div class="name_login">Эшли Д.</div>
					<img src="img/ash_small.jpg">
					<div class="menu_account">
						<span class="krestik"></span>
						<ul>
							<li><a href="#">Профиль</a></li>
							<li><a href="#">Выход</a></li>
						</ul>
					</div>

				</div>
			</div>
		</header>
		<div class="wrapper">
			<nav>
				<div class="wrap_menu">
					<ul class="menu_one">
						<li><a href="#"><img class="open" src="img/left_menu_li_task.png"><img class="close" src="img/left_menu_li_task_activ.png"><span>Мои задания<div class="count">12</div></span></a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_massage.png"><img class="close" src="img/left_menu_li_massage_activ.png"><span>Сообщения<div class="count">4</div></span></a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_2.png"><img class="close" src="img/left_menu_li_2_act.png">Все задания</a></li>
						<li><a href="#"><img class="open" src="img/left_menu_li_1.png"><img class="close" src="img/left_menu_li_1_act.png">Все исполнители</a></li>
					</ul>
					<div class="menu">
						<div class="wrap_menu_black">
							<ul class="menu_two">
								<li><a href="#">Как работает сервис?</a></li>
								<li><a href="#">Отзывы заказчиков</a></li>
								<li><a href="#">Отзывы исполнителей</a></li>
								<li><a href="#">Рачет коммисии</a></li>
								<li><a href="#">Награды и рейтинг исполнителей</a></li>
								<li><a href="#">Прайс лист на услуги</a></li>
							</ul>	
						</div>
					</div>
				</div>
			</nav>
			<div id="content">
				<div id="bread">
					<div class="customsbread">
						<a href="/">Главная</a> &gt;  
						<a href="#">Личный кабинет</a> &gt;  
						<span>Эшли Джей Уильямс</span>
					</div>
				</div>
				<div id="personal_account">
					<div id="account_header" style=" background: url(img/acaunt_fon.jpg) center no-repeat;">
						<a href="#" id="edit_fon" class="edit_buttom">изменить фон</a>
						<div class="profile">
							<img class="photo_user"src="img/ash.jpg">
							<a href="#" id="edit_photo" class="edit_buttom">изменить фото</a>
							<div class="online">Онлайн</div>
							<div class="tag_work"></div>
							<div class="now_free">Сейчас свободен</div>
							<div class="now_busy">Занят работой</div>
							<div class="name_user">Эшли Джей Уильямс</div>
							<div class="age_user">26 лет</div>
							<div class="line_info">
								<div class="job_do">Выполнил 56 заданий</div>
								<div class="his_job">Создал 26 заданий</div>
								<div class="city">Челябинск</div>
							</div>
							<div class="line_info_two">
								<div class="rating"><div class="rang"></div><div class="score">19 отзывов</div>
									<div class="task_reivews">
										<i class="like">15</i>
										<i class="dislike">2</i>
									</div>
									<ul>
										<li class="action"></li>
										<li class="action"></li>
										<li class="action"></li>
										<li class="action"></li>
										<li></li>
									</ul>
								</div>	
							</div>
							<div class="work_cat_want">
								<li>Курьерские услуги</li>
								<li>Бытовой ремонт</li>
								<li>Дизайн</li>	
								<li>Грузоперевозки</li>
								<li>Бытовой ремонт</li>
								<li>Дизайн</li>	

							</div>
						</div>
						<a href="#" class="share_the_link"><div class="link">Поделиться</div></a>
					</div>
					<div id="account_content">
						<div id="edit_info_account">
							<div id="menu_edit">								
								<ul>
									<li class="active"><a href="#">Категории услуг</a></li>
									<li><a href="#">Личные данные</a></li>
									<li><a href="#">Мои работы</a></li>
									<li><a href="#">Мое избранное</a></li>
									<li><a href="#">Мой счет</a></li>
								</ul>
							</div>
							<div id="work_performed" class="my_works">
								<div id="portfolio">
									<h2>Мои работы</h2>
									<div class="add_block"><p><span>Добавить </span></p><p><span>работу</span></p></div>
									<div class="foto_block">
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
										<div class="foto_big">
											<a href="img/portf_big.jpg"><img src="img/portf_big.jpg">
												<span>Ремонт в однокомнатной квартире. Город Челябинск.</span>
												<i class="del"></i>
												<i class="edit"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>
	
		<div id="grey_block">
			<div class="wrapper">
				<div id="block4">
				<script type="text/javascript" src="http://vk.com/js/api/openapi.js?120"></script>
				<script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
					<div class="vk">
						<div id="vk_groups"></div>
						<script type="text/javascript">
						VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483);
						</script>
						<div class="like">					
							<!--<script type="text/javascript">
							document.write(VK.Share.button(false,{type: "round", text: "&nbsp;"}));
							</script>-->
						</div>
					</div>
					<div class="vk">
						
					</div>
					<div class="vk">
						<div id="vk_groups2"></div>
						<script type="text/javascript">
						VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483);
						</script>
					</div>	
				</div>	
			</div>
		</div>	
		<footer>
			<div class="wrapper">
				<div id="footer_block">
					<div class="menu">
						<span>Что за сервис?</span>
						<ul>
							<li><a href="#">Расчет коммиссии</a></li>
							<li><a href="#">Награды и рейтинги работников</a></li>
							<li><a href="#">Отзывы исполнителей</a></li>
							<li><a href="#">Отзывы заказчиков</a></li>
							<li><a href="#">Прайс лист на услуги</a></li>
						</ul>
					</div>
					<div class="menu">
						<span>Компания</span>
						<ul>
							<li><a href="#">Наш блог</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Бренды у нас</a></li>
						</ul>
					</div>
					<div class="menu">
						<span>Служба поддержки</span>
						<ul>
							<li><a href="#">Правила сервиса</a></li>
							<li><a href="#">Частные вопросы</a></li>
						</ul>
					</div>
					<div class="info_contact">
					<p>Горячая линия с 9:00 до 23:00<br>
					в выходные: с 9:00 до 21:00</p>
		
					<p>в Челябинске:   8 (351) 668 65 33<br>
					по России:   8 (800) 77 555 33</p>
					</div>
					<div class="tg">Разработка сайта <a href="http://tommy-gun.pro" target="blank">TommyGun</a></div>
					<div class="copyright">© 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)</div>
				</div>
			</div>
		<footer>
		
		<div class="modal-dialog modal-reg modal-addwork" id="modal_proposal" data-original-title="" title="">
			<div class="modal-content" data-original-title="" title="">
				<div class="modal-header center_width" data-original-title="" title="">
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true" data-original-title="" title=""></span>
					</button>
					<h4 class="modal-title">Добавьте вашу работу</h4>
				</div>
				<div class="modal-body" style="width: auto" data-original-title="" title="">
					<div class="smalltext center_width" data-original-title="" title="">
						<span>1. Загрузите изображение / фотографию вашей работы:</span>
						<label class="add_img">
							<span>Добавить изображение</span>
							<input type="file" name="file">
						</label>
					</div>
					<div class="smalltext center_width" data-original-title="" title="">
						<span>2. Опишите свою работу:</span>
						<textarea class="work_txt" name="text"></textarea>
					</div>
				</div>
				<div class="modal-footer" data-original-title="" title="">
                	<button class="modal-button">Добавить</button>
                </div>
			</div>
		</div>
		
	</body>
</html>

edit_lk_my_works.html.slim
| ﻿
doctype strict
html[xmlns="http://www.w3.org/1999/xhtml"]
  head
    title
      | YoDo
    meta[name="Keywords" content=""]
    meta[name="Description" content=""]
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    link[href="css.css" type="text/css" rel="stylesheet"]
    link[href="css/jquery.minical.plain.css" type="text/css" rel="stylesheet"]
    script[type="text/javascript" src="js/jquery-1.7.2.min.js"]
    script[type="text/javascript" src="js/tg.js"]
    script[type="text/javascript" src="js/mask.js"]
    script[type="text/javascript" src="js/jquery.minical.plain.js"]
    script[type="text/javascript" src="js/scrollslave.js"]
  script[type="text/javascript"]
    |  $(document).ready(function() { $('a[href^="#"]').click(function () { elementClick = $(this).attr("href"); destination = $(elementClick).offset().top; destination_new= destination-70; if($.browser.safari){ $('body').animate( { scrollTop: destination_new }, 600 ); }else{ $('html').animate( { scrollTop: destination_new }, 600 ); } return false; }); }); 
  body
    header
      .wrapper
        a[href="/"]
        .logo
          | заработу
          span
            | .com
          br
          p
            | Сервис для быстрого заказа любых услуг
        a.tocreate[href="#"]
          |  создать задание 
        #city
          p
            | Ваш город
          .fadeselect
            span.namecity
              |  Челябинск
            .select_city
              span.krestik
              ul
                li
                  | Екатеринбург
                li
                  | Тюмень
                li
                  | Пермь
                li
                  | Казань
                li
                  | Самара
        .account_in_site
          .name_login
            | Эшли Д.
          img[src="img/ash_small.jpg"]
          .menu_account
            span.krestik
            ul
              li
                a[href="#"]
                  | Профиль
              li
                a[href="#"]
                  | Выход
    .wrapper
      nav
        .wrap_menu
          ul.menu_one
            li
              a[href="#"]
                img.open[src="img/left_menu_li_task.png"]
                img.close[src="img/left_menu_li_task_activ.png"]
                span
                  | Мои задания
              .count
                | 12
            li
              a[href="#"]
                img.open[src="img/left_menu_li_massage.png"]
                img.close[src="img/left_menu_li_massage_activ.png"]
                span
                  | Сообщения
              .count
                | 4
            li
              a[href="#"]
                img.open[src="img/left_menu_li_2.png"]
                img.close[src="img/left_menu_li_2_act.png"]
                | Все задания
            li
              a[href="#"]
                img.open[src="img/left_menu_li_1.png"]
                img.close[src="img/left_menu_li_1_act.png"]
                | Все исполнители
          .menu
            .wrap_menu_black
              ul.menu_two
                li
                  a[href="#"]
                    | Как работает сервис?
                li
                  a[href="#"]
                    | Отзывы заказчиков
                li
                  a[href="#"]
                    | Отзывы исполнителей
                li
                  a[href="#"]
                    | Рачет коммисии
                li
                  a[href="#"]
                    | Награды и рейтинг исполнителей
                li
                  a[href="#"]
                    | Прайс лист на услуги
      #content
        #bread
          .customsbread
            a[href="/"]
              | Главная
            |  > 
            a[href="#"]
              | Личный кабинет
            |  > 
            span
              | Эшли Джей Уильямс
        #personal_account
          #account_header[style=" background: url(img/acaunt_fon.jpg) center no-repeat;"]
            a#edit_fon.edit_buttom[href="#"]
              | изменить фон
            .profile
              img.photo_user[src="img/ash.jpg"]
              a#edit_photo.edit_buttom[href="#"]
                | изменить фото
              .online
                | Онлайн
              .tag_work
              .now_free
                | Сейчас свободен
              .now_busy
                | Занят работой
              .name_user
                | Эшли Джей Уильямс
              .age_user
                | 26 лет
              .line_info
                .job_do
                  | Выполнил 56 заданий
                .his_job
                  | Создал 26 заданий
                .city
                  | Челябинск
              .line_info_two
                .rating
                  .rang
                  .score
                    | 19 отзывов
                  .task_reivews
                    i.like
                      | 15
                    i.dislike
                      | 2
                  ul
                    li.action
                    li.action
                    li.action
                    li.action
                    li
              .work_cat_want
                li
                  | Курьерские услуги
                li
                  | Бытовой ремонт
                li
                  | Дизайн
                li
                  | Грузоперевозки
                li
                  | Бытовой ремонт
                li
                  | Дизайн
            a.share_the_link[href="#"]
            .link
              | Поделиться
          #account_content
            #edit_info_account
              #menu_edit
                ul
                  li.active
                    a[href="#"]
                      | Категории услуг
                  li
                    a[href="#"]
                      | Личные данные
                  li
                    a[href="#"]
                      | Мои работы
                  li
                    a[href="#"]
                      | Мое избранное
                  li
                    a[href="#"]
                      | Мой счет
              #work_performed.my_works
                #portfolio
                  h2
                    | Мои работы
                  .add_block
                    p
                      span
                        | Добавить 
                    p
                      span
                        | работу
                  .foto_block
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
    #grey_block
      .wrapper
        #block4
          script[type="text/javascript" src="http://vk.com/js/api/openapi.js?120"]
          script[type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"]
          .vk
            #vk_groups
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483); 
            .like

          .vk

          .vk
            #vk_groups2
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483); 
    footer
      .wrapper
        #footer_block
          .menu
            span
              | Что за сервис?
            ul
              li
                a[href="#"]
                  | Расчет коммиссии
              li
                a[href="#"]
                  | Награды и рейтинги работников
              li
                a[href="#"]
                  | Отзывы исполнителей
              li
                a[href="#"]
                  | Отзывы заказчиков
              li
                a[href="#"]
                  | Прайс лист на услуги
          .menu
            span
              | Компания
            ul
              li
                a[href="#"]
                  | Наш блог
              li
                a[href="#"]
                  | Контакты
              li
                a[href="#"]
                  | Бренды у нас
          .menu
            span
              | Служба поддержки
            ul
              li
                a[href="#"]
                  | Правила сервиса
              li
                a[href="#"]
                  | Частные вопросы
          .info_contact
            p
              | Горячая линия с 9:00 до 23:00
              br
              |  в выходные: с 9:00 до 21:00
            p
              | в Челябинске: 8 (351) 668 65 33
              br
              |  по России: 8 (800) 77 555 33
          .tg
            | Разработка сайта 
            a[href="http://tommy-gun.pro" target="blank"]
              | TommyGun
          .copyright
            | © 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)
      footer
        #modal_proposal.modal-dialog.modal-reg.modal-addwork[data-original-title="" title=""]
          .modal-content[data-original-title="" title=""]
            .modal-header.center_width[data-original-title="" title=""]
              button.close[aria-label="Close" data-dismiss="modal" type="button"]
                span[aria-hidden="true" data-original-title="" title=""]
              h4.modal-title
                | Добавьте вашу работу
            .modal-body[style="width: auto" data-original-title="" title=""]
              .smalltext.center_width[data-original-title="" title=""]
                span
                  | 1. Загрузите изображение / фотографию вашей работы:
                label.add_img
                  span
                    | Добавить изображение
                  input[type="file" name="file"]
              .smalltext.center_width[data-original-title="" title=""]
                span
                  | 2. Опишите свою работу:
                textarea.work_txt[name="text"]
            .modal-footer[data-original-title="" title=""]
              button.modal-button
                | Добавить
